$text: #f0f1f3;
$muted: #636a76;
$secondary: #1a202b;
$primary: #141922;

$turqoise-accent: #00d6d8;
$green-accent: #00ff8c;
$orange-accent: #ff9849;
$red-accent: #ff336c;
$purple-accent: #9a00ff;
$blue-accent: #008bff;
$yellow-accent: #fdbf2e;
